body{
    background-color:rgb(231, 228, 228);
}
h1{
    text-align: center;
    color:#484855;
    transform: scale(4);
    margin-top: 100px;
    margin-bottom: 120px;
}
.row1{
    display: flex;
    background-color: aqua;
    width: 1850px;
    height: 500px;
    justify-content:space-between;
    margin-left: 27px;
    margin-top: 50px;

}
.row1 img{
    transform: scale(.8);
}
.row2{
    display: flex;
    background-color: rgb(43, 243, 76);
    width: 1850px;
    height: 500px;
    justify-content:space-evenly;
    margin-left: 27px;
    margin-top: 50px;

}
.row2 img{
    transform: scale(.8);
}
.row3{
    display: flex;
    background-color: rgb(255, 0, 0);
    width: 1850px;
    height: 500px;
    justify-content:space-between;
    margin-left: 27px;
    margin-top: 50px;
    margin-bottom: 60px;

}
.row3 img{
    transform: scale(.8);
}
.credit{
    text-align: center;
    transform: scale(2.5);
    margin-bottom: 50px;
}